<a href="https://colab.research.google.com/github/Shivani9831/CODSOFT/blob/main/TITANIC_SURVIVAL_PREDICTION_TASK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd

import seaborn as sns

# Load the Titanic dataset

titanic = sns. load_dataset('titanic')

In [ ]:
# Display the first few rows

print(titanic.head())

## Basic learning about the dataset

print(titanic.info())

# Check for missing values

print(titanic.isnull().sum())

   survived  pclass  sex   age  sibsp  parch     fare embarked class  who  \
0         0       3   -1  22.0      1      0   7.2500        S     3    0
1         1       1   -1  38.0      1      0  71.2833        C     1    1
2         1       3   -1  26.0      0      0   7.9250        S     3    1
3         1       1   -1  35.0      1      0  53.1000        S     1    1
4         0       3   -1  35.0      0      0   8.0500        S     3    0

   adult_male  embark_town alive  alone
0        True  Southampton    no  False
1       False    Cherbourg   yes  False
2       False  Southampton   yes   True
3       False  Southampton   yes  False
4        True  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    int64
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(6), object(3)
memory usage: 79.4+ KB
None
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [ ]:
# Drop the 'deck' column if it exists
if 'deck' in titanic.columns:
    titanic.drop(columns=['deck'], inplace=True)

# Check if 'embark_town' exists before filling NaN values
if 'embark_town' in titanic.columns:
    mode_embark_town = titanic['embark_town'].mode()[0]
    titanic['embark_town'] = titanic['embark_town'].fillna(mode_embark_town)
    print("Filled missing 'embark_town' with mode.")

# Fill missing age values with median
median_age = titanic['age'].median()
titanic['age'] = titanic['age'].fillna(median_age)
print("Filled missing 'age' values with median.")

# Drop rows where 'alive' has missing values
data_clean = titanic.dropna(subset=['alive'])
print(f"Dropped rows with missing 'alive'. Remaining rows: {data_clean.shape[0]}")

# Display the cleaned data
print(data_clean.head())  # Show the first few rows of the cleaned DataFrame

Filled missing 'embark_town' with mode.
Filled missing 'age' values with median.
Dropped rows with missing 'alive'. Remaining rows: 891
   survived  pclass  sex   age  sibsp  parch     fare embarked class  who  \
0         0       3   -1  22.0      1      0   7.2500        S     3    0
1         1       1   -1  38.0      1      0  71.2833        C     1    1
2         1       3   -1  26.0      0      0   7.9250        S     3    1
3         1       1   -1  35.0      1      0  53.1000        S     1    1
4         0       3   -1  35.0      0      0   8.0500        S     3    0

   adult_male  embark_town alive  alone
0        True  Southampton    no  False
1       False    Cherbourg   yes  False
2       False  Southampton   yes   True
3       False  Southampton   yes  False
4        True  Southampton    no   True

In [ ]:
# Change the category labels to numerical form
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})

# Change 'class' labels to numerical values
titanic['class'] = titanic['class'].map({'First': 1, 'Second': 2, 'Third': 3})

# Change 'who' labels to numerical values
titanic['who'] = titanic['who'].map({'man': 0, 'woman': 1, 'child': 2})

# Select relevant features
features = ['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']

X = titanic[features]
y = titanic['survived']

# Display the first few rows of the features and target
print(X.head())
print(y.head())

   pclass  sex   age  sibsp  parch     fare
0       3  NaN  22.0      1      0   7.2500
1       1  NaN  38.0      1      0  71.2833
2       3  NaN  26.0      0      0   7.9250
3       1  NaN  35.0      1      0  53.1000
4       3  NaN  35.0      0      0   8.0500
0    0
1    1
2    1
3    1
4    0
Name: survived, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming X and y have already been defined as in previous steps

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shape of the resulting datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (712, 6)
X_test shape: (179, 6)
y_train shape: (712,)
y_test shape: (179,)

In [ ]:
from sklearn.linear_model import LogisticRegression

# Load Titanic dataset (replace with actual path)
# titanic = pd.read_csv('path_to_titanic_dataset.csv')

# Check unique values in 'sex' column
print("Unique values in 'sex' before mapping:", titanic['sex'].unique())

# Fill NaN values in 'sex' column with a placeholder
titanic['sex'].fillna('unknown', inplace=True)

# Now re-map the 'sex' column after handling NaNs
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1, 'unknown': -1})

# Select relevant features (example features)
features = ['sex', 'age', 'fare']  # Add more features as needed
X = titanic[features]
y = titanic['survived']

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check for NaN values in X_train again
print("NaN values in X_train after adjustments:", X_train.isnull().sum())

# Initialize the model
model = LogisticRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Output the model's coefficients and intercept
print("Model coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Unique values in 'sex' before mapping: [nan]
NaN values in X_train after adjustments: sex     0
age     0
fare    0
dtype: int64
Model coefficients: [[-0.00094458 -0.01305592  0.0141763 ]]
Intercept: [-0.57074995]

<ipython-input-18-b3e4906a0263>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic['sex'].fillna('unknown', inplace=True)
<ipython-input-18-b3e4906a0263>:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  titanic['sex'].fillna('unknown', inplace=True)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)

conf_matrix = confusion_matrix(y_test, y_pred)

class_report = classification_report(y_test, y_pred)

# Print the evaluation metrics
print(f'Accuracy: {accuracy:.4f}')  # Formatted to 4 decimal places
print('Confusion Matrix:\n', conf_matrix)
print('Classification Report:\n', class_report)

Accuracy: 0.6480
Confusion Matrix:
 [[100   5]
 [ 58  16]]
Classification Report:
               precision    recall  f1-score   support

           0       0.63      0.95      0.76       105
           1       0.76      0.22      0.34        74

    accuracy                           0.65       179
   macro avg       0.70      0.58      0.55       179
weighted avg       0.69      0.65      0.59       179